# This workflow will do a clean install of node dependencies, build the source code and run test across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - 'main'
      - 'patch/**'
      - 'minor/**'
      - 'major/**'
      - 'feature/**'
      - 'renovate/**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npx audit-ci --moderate
    - run: npm run lint
    - run: npm run build --if-present
    - run: npm test
    # - run: npm run coverage-ci
    # - run: npm run codecov
